header .right a.active{border-bottom:4px solid #fff;box-sizing: border-box;}
header .right a.search{box-sizing: border-box;}
header .right a.log{box-sizing: border-box;}
header{position:relative}
header #user{position:absolute;top:60px;right:100px;width:110px;height:90px;display: none;}
header #user .user-box{width:100%;height:100%;position: relative;}
header #user span{display: inline-block;border-bottom:10px solid #c1c1c1;
position: absolute;left:45px;top:0;
border-left:10px solid transparent;border-right:10px solid transparent;}
header #user a.ac{margin-top:10px}
header #user a{float:left;background:#c1c1c1;line-height: 40px;display: block;width:100%;height:40px;text-align: center;}

/*这是header部分里面的购物车 那妞*/
header #cart{width:370px;height:500px;position: absolute;z-index: 100;right:10px;top:80px;box-shadow: 0 0 10px #999;display: none;}
header #cart .cart-box{width:100%;height:100%;position: relative;z-index: 33;background:#fff}
header #cart i{display: inline-block;position: absolute;top:-20px;left:300px;width:38px;height:38px;background:#fff;box-shadow: 0 0 10px #999;transform: rotate(45deg);z-index: 3;}
header #cart .cart-box .cart-title{width:100%;height:55px;text-indent: 10px;color:#000;line-height: 55px;background:#fff}
header #cart .cart-box .cart-pro{width:100%;height:330px;overflow-y: scroll;}
header #cart .cart-box .cart-pro ul{overflow: hidden;width:100%;}
header #cart .cart-box .cart-pro ul li{overflow: hidden;width:100%;height:90px;background:#fff;margin-bottom:10px}
header #cart .cart-box .cart-pro ul li span{background:#b9b9b9 !important;display: inline-block;z-index:9999999;width:20px;height:20px;display: inline-block;float:left;margin:35px 10px 0;text-align: center;line-height: 20px;color:#fff}
header #cart .cart-box .cart-pro ul li img{display: inline-block;width:80px;height:80px;margin:10px 10px 0;float:left}

header #cart .cart-box .cart-pro ul li .text{width:200px;height:100%;display: inline-block;float:left;}
header #cart .cart-box .cart-pro ul li .text h5{line-height: 40px;text-indent:7px;margin-top:15px}
header #cart .cart-box .cart-pro ul li .text em{line-height: 30px;text-indent: 7px;display: block;}
header #cart .cart-box .car-bom{overflow:hidden ;width:100%;height:80px;background:#fff;}
header #cart .cart-box .car-bom a{font-size:16px;text-decoration: underline;text-indent: 10px;margin-top:20px;float:left;font-weight: 600;}
header #cart .cart-box .car-bom span{display: inline-block;margin:20px 30px 0;width:130px;height:30px;line-height: 30px;float:right;color:#fff;background:#000;color:#fff;text-align: center;}
/**/
.yourtop{width:100%;height:50px;background:#000;text-align: center;font-size: 16px;line-height: 50px;color:#fff}
.yourtop .your-sub{width:1200px;height:50px;margin:0 auto 0;color:#fff;line-height: 50px;}
.yourtop .your-sub a{display: inline-block;padding:0 10px;color:#fff;float:left;}
.yourtop .your-sub a.active{background:#777}
.yourtop .your-sub i{display: inline-block;padding:0 10px;color:#fff;float:left;margin:0 10px}

/*这是order*/
.order{width:100%;height:45px;background:#000;text-align: center;color:#fff;line-height: 45px;margin-top:30px}
.order-box{width:1200px;overflow: hidden;margin:0 auto 0;}
.order-box .checkout{width:100%;overflow: hidden;height:50px;border-bottom:1px solid #eee;margin-top:50px}
.order-box .checkout span{float:left;padding:0 40px 0;line-height: 50px;}
.order-box .checkout i{float:right;padding:5px 20px;background:#000;text-align: center;line-height: ;color:#fff;margin-top:12px}
.order-box .checkout i.left{margin-right:10px;background:#777}
.order-box .checkout i.xia{background:#fff;color:#000}

.content{width:1200px;overflow: hidden;margin:0 auto 0;height:1000px}
.content .left{width:600px;display: inline-block;float:left;border-right:1px solid #999;box-sizing: border-box;}
.content .left .title{width:90%;height:50px;overflow: hidden;line-height: 50px;margin:0 auto 0;}
.content .left .title span{display: inline-block;}
.content .left .title a{display: inline-block;text-decoration: underline;float:right}
.content .left .name{width:90%;overflow: hidden;line-height: 50px;margin:0 auto 0;border-bottom: 1px solid #999;box-sizing: border-box;}
.content .left .name .name-item{width:100%;height:50px;}
.content .left .name span{display: inline-block;}
.content .left .name i{display: inline-block;float:right}
.content .left .name a{display: inline-block;float:right;text-decoration: underline;}

.content .title{width:90%;height:50px;overflow: hidden;line-height: 50px;color:#000;margin:0 auto 0}
.content .title span{display: inline-block;margin-right:100px}
.content .title a{display: inline-block;text-decoration: underline;}
.content .title a.change{float:right;margin-right:0}
.content .right{width:600px;display: inline-block;float:left;}
.content ul{width:90%;overflow: hidden;margin:0 auto 0}
.content ul li{width:100%;height:140px;border-bottom:1px solid #999;}
.content ul li .procu{width:230px;height:100%;display: inline-block;overflow: hidden;float:left}
.content ul li .procu img{width:100px;height:100px;float:left;margin-top:20px}
.content ul li .procu p{margin-top:67px;text-indent: 10px;}
.content ul li .price{height:100%;float:left;overflow: hidden;}
.content ul li .price span{text-align: center;line-height: 140px;margin-left:100px}
.content ul li .usd{display: inline-block;line-height: 140px;font-weight: 600;margin-left:20px;float:right}
.content .postage{width:90%;height:100px;border-bottom: 1px solid #999;margin:0 auto 0;line-height: 100px;}
.content .postage i{width:16px;height:1px;background:#000;display: inline-block;float:right;margin-top:50px;}
.content .money{width:100%;overflow: hidden;}
.content .money p{height:40px;line-height: 40px;color:#000;font-weight: 600;text-align: right;margin-top:20px}
.content .money .checkout{width:100%;overflow: hidden;text-align: center;margin-top:20px}
.content .money .checkout em{width:200px;height:50px;background:#000;color:#fff;line-height: 50px;display: inline-block;float:left}
.content .money .checkout i{width:120px;height:50px;background:#c1c1c1;color:#fff;line-height: 50px;display: inline-block;float:right}