header .right a.active{border-bottom:4px solid #fff;box-sizing: border-box;}
header .right a.search{box-sizing: border-box;}
header .right a.log{box-sizing: border-box;border-bottom:4px solid #000;}
/*这是搜索*/
.sub-nav{width:100%;height:100px;background:#e7e7e7;}
.sub-nav .content{width:1200px;height:100%;margin:0 auto 0}
.sub-nav .search{width:649px;height:40px;margin:30px 10px 0 330px;float:left;}
.sub-nav .search input{width:480px;height:100%;outline: none;border:none;}
.sub-nav .search .button{width:130px;height:100%;background:url(../img/01searcc_03.png) no-repeat;background-size: 100% 100%;display: inline-block;float:right;margin-right:20px}
.sub-nav .color{width:170px;height:100%;float:right;}
.sub-nav .color img{display: inline-block;margin-top:12px;margin-right:10px}
.sub-nav .color span{line-height:100px;float:right;display: inline-block;}
.color-s{border-bottom: 4px solid #000;box-sizing: border-box;}
/*这是搜索框的内容*/
.color-box{width:1200px;overflow: hidden;margin:0 auto 0;}
.color-box .left{width:600px;display: inline-block;float:left;position: relative;}
.color-box .left .seban{width:300px;height:350px;margin:94px 170px 0;}
.color-box .left .seban span{width:50px;height:50px;transition:all 0.3s ease;display: inline-block;margin:4px;border:1px solid #eee;box-sizing: border-box;}
.color-box .left .seban span:hover{transform: scale(1.3);}

.color-box .left .shadow{overflow: hidden;width:120px;height:120px;position: absolute;background:rgba(0,0,0,.3);top:165px;left:165px;border-radius: 50%;}
.color-box .left .shadow .shadow-box{width:100%;height:100%;position: relative;transform: rotate(0deg);transform-origin: center center;border-radius: 50%;}
.color-box .left .shadow i{border-radius: 50%;width:22px;height:22px;position: absolute;left:50%;margin-left:-11px;top:0px;background:olive;display: inline-block;}

.color-box .right{width:600px;display: inline-block;float:left;}
.color-box .right .title{margin-top:50px;line-height: 30px;}
.color-box .right ul{width:100%;overflow: hidden;margin:30px 0;}
.color-box .right ul li{float:left;width:150px;height:150px;margin-right:20px;margin-bottom:20px;border:1px solid #999;position: relative;}
.color-box .right ul li span{display: inline-block;width:25px;height:25px;background:url(../img/cha.png) no-repeat;float:right;z-index: 33;}

.color-box .right .contion{width:100%;overflow: hidden;margin-top:50px;border-top:1px solid #999;padding-top:30px}
.color-box .right .contion .sou{width:130px;height:40px;display: inline-block;float:left;background:url(../img/01searcc_03.png) no-repeat;background-size: 100% 100%;}
.color-box .right .contion .remove{width:200px;height:40px;display: inline-block;float:right;background:url(../img/plete_03.png) no-repeat;background-size: 100% 100%;}