@charset "utf-8";
*{margin:0;padding: 0;}
a{text-decoration: none;outline:none;color:#000;
   -moz-outline-style:none;}
ul{list-style-type: none;}
i,em,address{font-style: normal;}
img{display: block;outline: none;border:none}
body{
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
	background: #fff;;
	margin:0 auto 0;
    font-family: '微软雅黑';
	font-size:13px;
}

header{width:1200px;background:#fff;height:80px;margin:0 auto 0;}
header .left{width:153px;height:80px;float:left;line-height:80px;font-size:22px}
header .right{width:800px;height:80px;float:right;line-height:80px;font-size:15px}
header .right a{margin-left:10px;color:#000;margin-right:30px;display: inline-block;height:100%;}
header .right span{width:18px;height:18px;display: inline-block;background:url(../img/Search.png) no-repeat;background-size: 18px 18px;transform: translate(35px,3px);}
header .right a.active{border-bottom:4px solid #000;box-sizing: border-box;}
header .right a.search{padding-left:35px;}
header .right a.rog{margin-right:0px}
header .right i{width:1px;height:20px;background: #000;display: inline-block;transform: translateY(4px)}
header .right em{margin-right:0px;margin-left:15px;transform: translateX(-15px);width:18px;height:18px;display: inline-block;background:#b9b9b9;color:#fff;font-size:12px;line-height: 18px;text-align: center;}
/*这是banner海报区域*/


/*这是底部*/
footer{overflow: hidden;width:100%;border-top:1px solid #092a29;margin-top:50px;height:200px}
footer .footer-box{width:1200px;overflow: hidden;margin:0 auto 0;line-height: 60px;font-size: 15px;}
footer .footer-box span{float:left}
footer .footer-box i{float:left;margin-left:50px}
footer .footer-box em{float:right;margin-right:0px}