header .right a.active{border-bottom:4px solid #fff;box-sizing: border-box;}
header .right a.search{box-sizing: border-box;}
header .right a.log{box-sizing: border-box;border-bottom:4px solid #000;}
/*这是搜索*/
.sub-nav{width:100%;height:100px;background:#e7e7e7;}
.sub-nav .content{width:1200px;height:100%;margin:0 auto 0}
.sub-nav .search{width:649px;height:40px;margin:30px 10px 0 330px;float:left}
.sub-nav .search input{width:480px;height:100%;outline: none;border:none;}
.sub-nav .search .button{width:130px;height:100%;background:url(../img/01searcc_03.png) no-repeat;background-size: 100% 100%;display: inline-block;float:right;margin-right:20px}
.sub-nav .color{width:170px;height:100%;float:right;}
.sub-nav .color img{display: inline-block;margin-top:12px;margin-right:10px}
.sub-nav .color span{line-height:100px;float:right;display: inline-block;}

/*这是登录内容*/
.log-box{width:1200px;height:700px;margin:0 auto 0;}
.log-box form{width:360px;height:380px;display: block;margin:150px auto 0;}
.log-box form .title{width:100%;overflow: hidden;line-height: 30px;margin-bottom:5px}
.log-box form .title span{font-size:14px;color:#000}
.log-box form .title i{font-size:14px;color:#000;float:right}
.log-box form .title i em{color:#999}
.log-box form .put{overflow: hidden;}
.log-box form .put input{width:100%;height:45px;color:#999;margin-bottom:15px;text-indent: 10px;outline: none;border:1px solid #999;box-sizing: border-box;}
.log-box form .put input.bt{margin-bottom:10px}
.log-box form .forget{width:100%;height:30px;line-height: 30px;color:#000;text-align: right;}
.log-box form .forget em{color:#999}
.log-box form .add-to{width:100%;height:45px;background:#000;text-align: center;color:#fff;margin-top:30px;line-height: 45px;font-size:14px}
