header .right a.active{border-bottom:4px solid #fff;box-sizing: border-box;}
header .right a.search{border-bottom:4px solid #000;box-sizing: border-box;}
/*这是搜索*/
.sub-nav{width:100%;height:100px;background:#e7e7e7;border-top:2px solid #9aa5a5}
.sub-nav .content{width:1200px;height:100%;margin:0 auto 0}
.sub-nav .search{width:649px;height:40px;margin:30px 10px 0 330px;float:left}
.sub-nav .search input{width:480px;height:100%;outline: none;border:none;text-indent: 15px;}
.sub-nav .search .button{width:130px;height:100%;background:url(../img/01searcc_03.png) no-repeat;background-size: 100% 100%;display: inline-block;float:right;margin-right:20px}
.sub-nav .color{width:170px;height:100%;float:right;}
.sub-nav .color img{display: inline-block;margin-top:12px;}
.sub-nav .color span{line-height:100px;float:right;display: inline-block;margin-right:5px}
/*这是下面筛选的内容*/
.shai{width:1200px;margin:0 auto 0;}
.shai .advanced{width:200px;height:40px;background:url(../img/SEARCH2.png) no-repeat;background-size: 100% 100%;float:right}
.shai .shai-box{width:100%;margin-bottom:100px;padding-top:40px}
.shai .shai-box .sub-left{width:240px;overflow: hidden;display: inline-block;}
.shai .shai-box .sub-left .title{width:100%;height:40px;line-height: 40px;border-bottom:2px solid #ccc;}
.shai .shai-box .sub-left .select h4{width:100%;height:40px;line-height: 40px;background:url(../img/SEARCHicon.png) no-repeat right center;border-bottom: 2px solid #ccc;}
.shai .shai-box .sub-left .select .sub-select{border-bottom: 2px solid #ccc;overflow: hidden;width:100%;line-height: 30px;}
.shai .shai-box .sub-left .select .sub-select input{margin-left:18px}
.shai .shai-box .sub-left .select .sub-select .wid-sub{background:#eee;margin-left:20px}
.shai .shai-box .sub-left .select span{display: inline-block;width:15px;height:16px}

.shai .shai-box .sub-left .clear{width:130px;height:35px;background:url(../img/SEARCH3.png) no-repeat;background-size:100% 100%;margin-top:30px}
.shai .shai-box .right-content{width:940px;float:right;display: inline-block;}
.shai .shai-box .right-content .right-title{height:40px;line-height: 40px;width:100%}
.shai .shai-box .right-content .right-title span{display: inline-block;float:right;margin-left:5px}
.shai .shai-box .right-content .right-title a.right{display: inline-block;line-height: 40px;font-weight: 600;font-size:15px;float:right;margin:0 10px 0 5px}
.shai .shai-box .right-content .right-title a.left{display: none;line-height: 40px;font-weight: 600;font-size:15px;float:right;margin:0 0 0 5px}
.shai .shai-box .right-content .right-title i{display: inline-block;width:1px;height:15px;background:#000;float:right;margin:15px 0 0 10px;}
.shai .shai-box .right-content .right-title em{display: inline-block;float:right;}
.shai .shai-box .right-content .right-box{width:100%;}
.shai .shai-box .right-content .right-box ul{width:100%;overflow: hidden;}
.shai .shai-box .right-content .right-box ul li{width:20%;float:left;padding-bottom:30px;overflow: hidden;width:188px;height:187px;}
.shai .shai-box .right-content .right-box ul li a{width:160px;display: block;margin:0 auto 0;}
.shai .shai-box .right-content .right-box ul li a>img{margin-top:}
.shai .shai-box .right-content .right-box ul li a.sell{position: relative;width:160px;height:17px;}

.shai .shai-box .right-content .right-box ul li a img{width:160px;height:160px;margin:0 auto 0;display: block;}
.shai .shai-box .right-content .right-box ul li a p{margin-top:10px;background:url(../img/SEARCHicon.png) no-repeat right center;z-index: ;}
/*加的收缩背景*/
.add{background:url(../img/SEARCHicon.png) no-repeat right center !important;}

/*.shai .shai-box .right-content .right-box ul li a.sell img:hover{top:-100px;right:-100px;}*/
@keyframes fei{
	0%{display: block;}
	5%{right:50%;bottom:0;z-index: 100;}
	50%{bottom:20px}
	/*90%{bottom:100px;right:200px}*/
	100%{bottom:100px;right:400px}
}
header{position: relative;}
header .posBtnR{width:100px;height:100px;position:absolute;top:20px;right:30px;background:red;z-index: 4440;opacity: 0;display: ;}
